# Sistema
.DS_Store
Thumbs.db

# Node (por si acaso)
node_modules/

# Credenciales (ajusta el nombre cuando confirmes cuál usas)
Backend/config/mail.php

Backend/curriculums/*
!Backend/curriculums/.htaccess
